; This file is for unifying the coding style for different editors and IDEs.
; More information at http://editorconfig.org

# 最上位の設定ファイルとして指定
# falseにすると.editorconfigと同階層にあるものに適用させる
root = true

[*]
# インデントのスタイル
indent_style = space
indent_size = 2
# 改行コード
end_of_line = lf
# 最終行に改行を追加する
insert_final_newline = true
#余分なスペースやタブなどを削除
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.php]
charset = utf-8
indent_style = tab
indent_size = 4

[*.html]
charset = utf-8

[{*.css,*.scss}]
charset = utf-8

[{*.js,*.jsx}]
charset = utf-8
